:root{
    /* COLORS */
    --c-rose: #f9c5f9;
    --c-red: #f94158;
    --c-blue: #a4f7f7;
    --c-grey: #3f4a59;
    --c-beige: #fff5ee;


    /* BREAKINGPOINTS */
    --screen-ssm: 400px;
    --screen-sm: 575px;
    --screen-md: 767px;
    --screen-lg: 991px;
    --screen-xl: 1200px;
    --screen-xxl: 2150px;
}

/* BACKGROUND */
.bg_beige{
  background-color: var(--c-beige);
}

.bg_red{
    background-color: var(--c-red);
}

.bg_bue{
    background-color: var(--c-blue);
}

.bg_rose{
    background-color: var(--c-rose);
}