@font-face {
    font-family: 'Agrandir';
    font-weight: 500;
    src: url('/font/Agrandir-GrandHeavy.otf') format('opentype');
}

@font-face {
    font-family: 'Agrandir';
    font-weight: 100;
    src: url('/font/Agrandir-GrandLight.otf') format('opentype');
}

@font-face {
    font-family: 'Garet';
    src: url('/font/Spacetype-GaretBook.otf') format('opentype');
}